.g_hd{
    width: 100%;
    min-width: 1200px;
    height: auto;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}
.g_hd_top{
    width: 100%;
    height: 25px;
    background-color: #4a4a4a;
}
.g_hd_top_mn{
    margin: 0px auto;
    overflow: auto;
    width: 1200px;
    height: auto;
}
.g_hd_top_logo{
    padding: 5px 0px;
    width: 141px;
    height: 15px;
}
.g_hd_top_logo_img{
    display: block;
    width: 100%;
    height: auto;
}
.g_hd_bot{
    width: 100%;
    height: 100px;
    background-color: #e30c34;
}
.g_hd_bot_mn{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
.g_hd_bot_logo{
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
    width: auto;
    height: 100%;
}
.g_hd_bot_logo_img{
    display: block;
    width: auto;
    height: 100%;
}
.g_hd_bot_tt{
    float: left;
    line-height: 100px;
    font-size: 44px;
    color: #fff;
}



/*主体*/
.g_mn{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 85px;
    width: 100%;
    height: 690px;
    background-image: url("../images/login_bg.png");
}
.m_box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 85px 50px 85px;
    width: 570px;
    height: 340px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
}
.m_input{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #4a4a4a;
    text-indent: 0.5em;
}
.m_submit{
    margin-top: 0;
    font-size: 24px;
    text-indent: 0em;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}
.m_submit:hover{
    background-color: #e8e8e8;
    transition: 0.15s background-color;
}
.m_submit:active{
    font-size: 23px;
}
.m_box_p{
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
}

























.g_ft_login{
    margin-top: 0px;
}