/*公共样式*/

*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
ul{
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.f_fl{
	float: left;
}
.f_fr{
	float: right;
}
img{
	display: block;
}
p{
	font-size: 14px;
	font-family: "微软雅黑";
}
a{
	display: block;
	font-size: 14px;
	font-family: "微软雅黑";
}
a:hover{
	text-decoration: none;
	font-family: "微软雅黑";
}
a:link{
	text-decoration: none;
	font-family: "微软雅黑";
}
input{
	outline: none;
	font-family: "微软雅黑";
}
select{
	outline: none;
	font-family: "微软雅黑";
}
textarea{
	outline: none;
	font-family: "微软雅黑";
}
span{
	font-size: 14px;
	font-family: "微软雅黑";
}
body samp{
	font-size: 14px;
	font-family: "微软雅黑";
}
button{
	outline: none;
	border: 0px;
	font-family: "微软雅黑";
}
h1{
	font-weight: 500;
	font-family: "微软雅黑";
}
h2{
	font-weight: 500;
	font-family: "微软雅黑";
}
h3{
	font-weight: 500;
	font-family: "微软雅黑";
}
h4{
	font-weight: 500;
	font-family: "微软雅黑";
}
h5{
	font-weight: 500;
	font-family: "微软雅黑";
}


/*旋转动画*/
@keyframes infinite_rotate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(120deg);}
	75%{transform: rotate(240deg);}
	100%{transform: rotate(360deg);}
}
@-ms-keyframes infinite_rotate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(120deg);}
	75%{transform: rotate(240deg);}
	100%{transform: rotate(360deg);}
}
@-moz-keyframes infinite_rotate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(120deg);}
	75%{transform: rotate(240deg);}
	100%{transform: rotate(360deg);}
}
@-webkit-keyframes infinite_rotate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(120deg);}
	75%{transform: rotate(240deg);}
	100%{transform: rotate(360deg);}
}
